.clients-list {
  @extend %flex-container-centered;

  margin-left: calc((-1) * #{$project-card-gap});
  margin-top: calc((-1) * #{$project-card-gap});
}

.clients a {
  height: 90px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include transit(color);
  @include transit(border-color);

  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $accent-color;
    cursor: pointer;
  }
}

.client {
  margin-top: $project-card-gap;
  margin-left: $project-card-gap;

  flex-basis: calc(100% / 2 - #{$project-card-gap});

  @media screen and (min-width: $tablet-width) {
    flex-basis: calc(100% / 3 - #{$project-card-gap});
  }

  @media screen and (min-width: $desktop-width) {
    flex-basis: calc(100% / 6 - #{$project-card-gap});
  }
}

.clients-icon {
  fill: currentColor;
}
