.features-list {
  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.features .item {
  &:not(:last-child) {
    margin-bottom: $project-card-gap;
  }

  @media screen and (min-width: $tablet-width) {
    width: calc((100% - #{$project-card-gap}) / 2);

    &:nth-child(2n + 1) {
      margin-right: $project-card-gap;
    }
  }

  @media screen and (min-width: $desktop-width) {
    width: calc((100% - 3 * #{$project-card-gap}) / 4);

    &:not(:last-child) {
      margin-right: $project-card-gap;
    }
  }
}

.features-icon {
  height: 120px;
  width: 100%;
  display: block;
  padding: 25px 100px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-description {
  @extend %text;
  color: $secondary-text-color;
  line-height: 1.71;
  margin-bottom: 0px;
}

.feature {
  @extend %text;
  font-weight: $bold-font-weight;
  text-transform: uppercase;
  margin-bottom: 10px;

  text-align: center;
  @media screen and (min-width: $tablet-width) {
    text-align: left;
  }
}
