.features-list {
  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  margin-left: calc((-1) * #{$project-card-gap});
  margin-top: calc((-1) * #{$project-card-gap});
}

.features .item {
  margin-top: $project-card-gap;
  margin-left: $project-card-gap;

  @media screen and (min-width: $tablet-width) {
    width: calc(100% / 2 - #{$project-card-gap});
  }

  @media screen and (min-width: $desktop-width) {
    width: calc(100% / 4 - #{$project-card-gap});
  }
}

.features-icon {
  height: 120px;
  width: 100%;
  display: block;
  padding: 25px 100px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-description {
  @extend %text;
  color: $secondary-text-color;
  line-height: 1.71;
  margin-bottom: 0px;
}

.feature {
  @extend %text;
  font-weight: $bold-font-weight;
  text-transform: uppercase;
  margin-bottom: 10px;

  text-align: center;
  @media screen and (min-width: $tablet-width) {
    text-align: left;
  }
}
