footer {
  background-color: #2f303a;
  padding: 60px 0px;
}

.bottom {
  text-align: center;
  @media screen and (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: $desktop-width) {
    text-align: left;
    display: inline-flex;
    justify-content: space-between;
  }
}

.allcontacts {
  flex-basis: calc(100%-30px);
}

address p {
  font-style: normal;
  color: $white-color;
  margin-top: 0px;
  margin-bottom: 0px;
}

.bottom-contacts a {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  margin-top: 9px;
}

.footer-contacts {
  font-size: $small-font-size;
  line-height: 1.7;
  letter-spacing: 0.03em;
  flex-basis: 100%/2;
}

.subscribe p,
.sendmail b {
  @extend %text;
  font-family: $primary-font-family;
  font-style: normal;
  font-weight: $bold-font-weight;
  text-transform: uppercase;
  color: $white-color;
  margin-bottom: 20px;
  display: block;
}

.subscribe {
  flex-basis: 100%/2;
}

.footer-socials {
  display: inline-flex;
}

.footer-contacts,
.subscribe {
  margin-bottom: 60px;
  @media screen and (min-width: $desktop-width) {
    margin-bottom: 0px;
  }
}
