.main-nav {
  display: flex;
  align-items: center;
}

header {
  border-bottom: 1px solid #ececec;

  .link {
    font-weight: 500;
    font-size: $small-font-size;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
    display: block;
  }
}

.menu {
  display: none;
  @media screen and (min-width: $tablet-width) {
    display: flex;
  }

  .link {
    padding: 32px 0;
  }

  &-item:not(:last-child) {
    margin-right: 50px;
  }

  a {
    position: relative;
  }
}

.burger-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
  width: 40px;
  height: 40px;
}

.menu-icon {
  fill: currentColor;
}

.contacts {
  display: none;
  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  @media screen and (min-width: $desktop-width) {
    flex-direction: row;
    margin-left: auto;
  }

  a {
    font-size: $standart-font-size;
    line-height: 1;
    display: inline-flex;
    align-items: center;
  }
  padding: 22px 0;
}

.contacts li + li {
  @media screen and (max-width: 1199px) {
    margin-top: 10px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-left: 50px;
  }
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact {
  color: $secondary-text-color;
}

.menu .link,
.contacts .link {
  @include transit(color);
}

.link.current {
  color: $accent-color;

  &::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}

.menu .link:hover,
.menu .link:focus,
.contacts li :hover,
.contacts li :focus {
  color: $accent-color;
}
