.hero {
  text-align: center;
  background-color: #2f303a;
  height: 400px;
  padding: 118px 0px;

  margin-left: auto;
  margin-right: auto;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-image: $gradient, url('./images/hero-mobile.jpg');

  @media screen and (min-resolution: 2dppx) {
    background-image: $gradient, url('./images/hero-mobile2x.jpg');
  }

  @media screen and (min-width: $tablet-width) {
    background-image: $gradient, url('./images/hero-tablet.jpg');

    @media screen and (min-resolution: 2dppx) {
      background-image: $gradient, url('./images/hero-tablet2x.jpg');
    }
  }

  @media screen and (min-width: $desktop-width) {
    height: 600px;
    padding: 200px 0px;
    max-width: 1600px;

    background-image: $gradient, url('./images/hero-desktop.jpg');
    @media screen and (min-resolution: 2dppx) {
      background-image: $gradient, url('./images/hero-desktop2x.jpg');
    }
  }
}

h1 {
  font-size: 26px;
  line-height: 1.61;

  @media screen and (min-width: $desktop-width) {
    font-size: 44px;
    line-height: 1.4;
  }

  letter-spacing: 0.06em;
  font-weight: 900;
  text-transform: uppercase;
  color: $white-color;
  margin-top: 0;
  margin-bottom: 30px;
}
