.backdrop {
  padding: 93px 15px;

  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;

  overflow-y: scroll;

  @include transit(opacity);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;

  &.modal {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.modal {
  background-color: $white-color;
  box-shadow: $card-box-shadow;
  border-radius: 4px;
  padding: 40px;

  font-family: $primary-font-family;
  font-style: normal;

  position: relative;

  @media screen and (min-width: $mobile-width) {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: $tablet-width) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: $desktop-width) {
    min-width: 528px;
    min-height: 581px;
    top: 50%;
  }

  @include transit(transform);

  & p {
    font-weight: $bold-font-weight;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: $primary-text-color;

    margin-bottom: 12px;
    margin-top: 0px;
  }
}

.modal-button {
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  width: 30px;
  height: 30px;

  @include transit(fill);

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
