.team {
  background-color: #f5f4fa;
  text-align: center;

  .team-member {
    background-color: $white-color;
    box-shadow: $card-box-shadow;
    border-radius: 0px 0px 4px 4px;

    margin-top: $project-card-gap;
    margin-left: $project-card-gap;

    @media screen and (min-width: $tablet-width) {
      flex-basis: calc(100% / 2 - #{$project-card-gap});
    }

    @media screen and (min-width: $desktop-width) {
      flex-basis: calc(100% / 4 - #{$project-card-gap});
    }
  }
}

.team-members {
  display: block;

  margin-left: calc((-1) * #{$project-card-gap});
  margin-top: calc((-1) * #{$project-card-gap});

  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.card-description {
  padding-top: $project-card-gap;
  padding-bottom: $project-card-gap;

  h3 {
    font-size: $standart-font-size;
    line-height: 1.2;
    letter-spacing: 0.03em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
  }

  p {
    color: $secondary-text-color;
    margin-bottom: $standart-font-size;
    margin-top: 0;
  }
}
