.button {
  font-weight: $bold-font-weight;
  font-size: $standart-font-size;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $white-color;

  background-color: $accent-color;

  border-radius: 4px;
  min-width: 200px;
  height: 50px;

  padding: 8px;
  border: 2px solid transparent;

  align-items: center;
  text-align: center;

  display: inline-block;

  cursor: pointer;
}

.submit {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  // border: 2px solid transparent;

  margin-left: auto;
  margin-right: auto;

  display: block;
}
