// .projects-filter {
//   margin-top: 0px;
//   margin-bottom: 50px;

//   & .item:not(:last-child) {
//     margin-right: 8px;
//   }
// }

.projects-filter {
  @extend %flex-container;

  margin-left: -8px;
  margin-top: -15px;
  padding-bottom: 40px;

  .item {
    margin-top: 15px;
    margin-left: 8px;
  }

  @media screen and (min-width: $tablet-width) {
    justify-content: center;
    padding-bottom: 50px;
  }
}

.projects-filter button {
  font-family: inherit;
  font-weight: 500;
  font-size: $standart-font-size;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 4px 20px;
  display: inline-block;
  border: 2px solid transparent;
  cursor: pointer;

  @include transit(background-color);
  @include transit(color);
  @include transit(box-shadow);

  &:focus,
  &:hover {
    background-color: $accent-color;
    color: $white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
