.logo {
  font-family: $secondary-font-family, sans-serif;
  font-weight: $bold-font-weight;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  span {
    color: $accent-color;
  }

  header & {
    color: $logoblack-color;
    margin-right: 93px;
  }

  footer & {
    color: $white-color;
    margin-bottom: 20px;
    display: inline-block;
  }
}
