.mform label {
  font-weight: $normal-font-weight;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $secondary-text-color;
}

.mform #comment {
  padding: 12px $standart-font-size;
  height: 120px;
}

.mform textarea::placeholder {
  font-size: $small-font-size;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.mform-field {
  display: flex;
  flex-direction: column;

  .mform &:not(:nth-child(4)) {
    margin-bottom: 10px;
  }

  input,
  textarea {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 10px;
    width: 100%;
  }

  input {
    padding-left: 42px;

    @include transit(border-color);
    @include transit(fill);
  }

  label {
    margin-bottom: 4px;
  }
}

.input-field {
  position: relative;
}

.mform-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  display: inline-block;

  width: 18px;
  height: 18px;
}

.mform-field input:hover ~ .mform-icon,
.mform-field input:focus ~ .mform-icon {
  fill: $accent-color;
}

.mform-field input:hover,
.mform-field textarea:hover,
.mform-field input:focus,
.mform-field textarea:focus {
  border-color: $accent-color;
  outline: none;
}
