.social-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.socials {
  display: inline-flex;
}

.social-link {
  display: inline-flex;

  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;

  background: rgba(255, 255, 255, 0.1);

  @include transit(background-color);
  @include transit(color);

  .team-member & {
    color: #afb1b8;
  }

  footer & {
    color: $white-color;
  }

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $white-color;
  }
}

.socials li:not(:last-child) {
  margin-right: 10px;
}
