body {
  font-family: $primary-font-family, sans-serif;
  color: $primary-text-color;
  background-color: $white-color;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: $mobile-width;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media screen and (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container-centered {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.section-title {
  font-weight: $bold-font-weight;
  font-size: 36px;
  line-height: 1.17;
}

h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
