$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196f3;
$white-color: #ffffff;
$logoblack-color: #000000;

$primary-font-family: 'Roboto';
$secondary-font-family: 'Raleway';

$small-font-size: 14px;
$standart-font-size: 16px;
$large-font-size: 18px;

$bold-font-weight: 700;
$normal-font-weight: 400;

$transit: cubic-bezier(0.4, 0, 0.2, 1);

$card-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

$project-card-gap: 30px;

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1200px;
